:host {
    .sidenav-submenu-btn {
        position: relative;
    }

    .sidenav-submenu-item {
        width: unset;
        min-height: unset;
        height: unset;
    }

    .sidenav-submenu-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
    .submenu-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    /* Cuando la clase .collapsed se activa en el HTML, esto fuerza el ancho */
.sidenav-menu.collapsed {
    width: 60px !important; /* Fuerza el tamaño pequeño */

    /* Centra los iconos */
    ::ng-deep .mat-list-item-content {
        justify-content: center !important;
        padding: 0 !important;
    }

    /* Oculta barras de scroll si aparecen */
    overflow-x: hidden;
}
}
